
.footer {
  display: flex;
  padding: 1rem 0;
  color: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: var(--color-footer);
}

.footerHeading {
  width: 100%;
  text-align: center;
  margin-bottom: 1rem;
}

.footerHeading h3 {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 35px;
  line-height: 40px;
  text-align: center;
}

.footerBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  text-align: center;
  margin-bottom: 1rem;
}

.footerBtn p {
     box-sizing: border-box;
     color: white;
     word-spacing: 2px;
}

.footerLinks{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: row;

    width: 100%;
    text-align: left;
}

.footerLinks div{
    width: 250px;
    margin: 1rem; 
}

.footerLinksLogo{
    display: flex;
    flex-direction: column;
}

.footerLinksLogo img {
    width: 180px;
    margin-bottom: 1rem;
  }
  
  .footerLinksLogo p{
    line-height: 14px;
    font-family: var(--font-family);
    font-size: 12px;
    color: white;
     
  }

  .footerLinksDiv{
    display:flex;
    justify-content: flex-start;
    flex-direction: column;
  }

  .footerLinksDiv h4{
    line-height: 14px;
    font-family: var(--font-family);
    font-size: 15px;
    color: white;
    margin-bottom: 1rem;
  }

  .footerLinksDiv p{
    line-height: 13px;
    font-family: var(--font-family);
    font-size: 13px;
    color: white;
    margin:0.4rem 0;
    cursor: pointer;
  }

  .footerCopyright{
    margin-top: 1rem;
    text-align: center;
    width: 100%;
  }

  .footerCopyright p{
    line-height: 13px;
    font-family: var(--font-family);
    font-size: 11px;
    color: white;
    margin:0.4rem 0;
  }

  @media screen and (max-width:850px){
    .footerHeading h1 {
        font-size: 45px;
        line-height: 50 px;
      }
  }

  @media screen and (max-width:550px){
    .footerHeading h1 {
        font-size: 35px;
        line-height: 40 px;
      }
  }