.logo{
    width: 50px;
    height: 50px;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.heading{
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 30px;
    color: #fff;
    justify-content: center;
}

.cards{
    display: flex;
    width: 100vw;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 4%;
    /* align-items: center; */
}