.sendCard h2{
 font-family: var(--font-family);
 text-align: center;
 /* margin-bottom: px; */
 height: auto;
 
}

.cardContainer{
  width: 20vw;
  height: 50vh;
  background: #e8414136;
  border: #e84142 solid 1px;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
   box-shadow: 10px 10px 30px rgba(224, 66, 66, 0.613), 0px 0px 45px #2a2929;
   color: #fff;
}

.sendCard{
    
    display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
    padding: 10px 0;
}

.selectContainer{
    padding: 20px 0;
}

.selector{
    padding: 10px 0;
    border-radius: 8px;
}

.cardButton{
    width: 5px;
}

.inputBox{
    margin: 0 10px;
    padding: 10px;
    border-radius: 10px;
}

.SendButton{
    margin: 10px;
}

.btn{
    padding: 0.4rem 0.8rem;
    color: white;
    font-family: var(--font-family);
    background: #ff4820;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    border-radius: 5px;
    border: 0;
    outline: none;
    cursor: pointer;
    margin-top: 4%;
}

.p{
    font-family: var(--font-family);
}

.selector1{
    width: 15vw;
    padding: 10px 0;
    border-radius: 10px;
}