.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1.3rem 6rem;
}

.navbarLinks {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbarLinksLogo {
  margin-right: 2rem;
}

.navbarLinksLogo img {
    width: 50px;
    
}

.navbarLinksContainer {
  display: flex;
  flex-direction: row;
}

.navbarLinksContainer p {
  color: white;
  font-family: var(--font-family);
  font-weight: 400;
  line-height: 24px;
  text-transform: capitalize;
  cursor: pointer;
  margin: 0 2.5rem;
}

.navbarConnect {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* padding-left: rem; */
}

.navbarConnect button {
  padding: 0.4rem 0.8rem;
  color: white;
  font-family: var(--font-family);
  background: #ff4820;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  border-radius: 5px;
  border: 0;
  outline: none;
  cursor: pointer;

}

.click:hover{
  font-weight: 800;
  color: whitesmoke;
  transform: scaleX(1);     /* Equal to scaleX(2) scaleY(2) */
    transition-duration: 0.1s;
}


.navbarConnect img{
  height:45px;
  margin-right: 1rem;
}

.navbarLinksContainer p:hover{
  font-size: 18.3px;
  color: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
}

@media screen and (max-width: 550px) {
  .navbar {
      padding: 2rem;
      width: 400px;
  }

}