.button button{
  padding: 0.4rem 0.8rem;
  color: white;
  font-family: var(--font-family);
  background: #ff4820;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  border-radius: 5px;
  border: 0;
  outline: none;
  cursor: pointer;
}