.ethContainer{
    width: 20vw;
    height: 50vh;
    background: #5c63c74c;
    border: #5C64C7 solid 1px;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 1.5rem;
    color: #fff;
    font-family: 'Montserrat',sans-serif;
padding: 0 2%;
}

.polygonContainer{
    width: 20vw;
    height: 50vh;
    background: #8147e544;
    border: #8247E5 solid 1px;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 1.5rem;
    color: #fff;
    font-family: 'Montserrat',sans-serif;
    padding: 0 2%;
}

.avaxContainer{
    width: 20vw;
    height: 50vh;
    background: #e8414136;
    border: #E84142 solid 1px;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 1.5rem;
    color: #fff;
    font-family: 'Montserrat',sans-serif;
    padding: 0 2%;
}

.image{
    width: 7.8vw;
    height: 21.4vh;
    /* object-fit: cover; */
    /* border-radius: 8px; */
}

.details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.name{
    font-weight: 700;
    font-size: 18px;
}

.amount{
    font-size: 24px;
}