.exchange{
    display: flex;
    flex-direction: row;
}

.exchangeLogo{
    padding: 7% 0;
    padding-left: 8%;
    /* padding-left: 15%; */
}
.exchangeLogo img{
    width: 50%;
}

.exchangeContainer{
    display: flex;
    flex-direction: row;
    padding: 4rem;
    margin: 0 20px;
}

.exchangeContainer div{
  
    margin: 0 10px;
}


